body {
  background-color: rgb(17, 16, 25);
  /* box backgrounds will be #181C32 */
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#page-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 1fr;
}

#sidebar-container {
  grid-column: 1 / 2;
  background-color: #181c32;
  height: 100vh;
  padding: 20px;

}

#main-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 50px auto;
  padding: 25px;
}

#header-container {
  grid-row: 1 / 2;
  text-align: right;
  background-color: #181c32;
  border-radius: 10px;
}

#content-container {
  grid-row: 2 /3;
  text-align: center;
  margin-top: 25px;
  background-color: #181c32;
  border-radius: 10px;
}

.task-title-div {
  display: flex;
  flex-direction: row;

}

.task {
  border: 2px solid white ;
  border-radius: 10px;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}

.task-name {
  flex: 1 1 auto;
  text-align: right;
}