body {
  background-color: rgb(17, 16, 25);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hint {
  font-style: italic;
}

h3 {
  font-weight: 500;
}


#page-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 1fr;
}

#sidebar-container {
  grid-column: 1 / 2;
  background-color: #181c32;
  height: 100vh;
  padding: 20px;
  margin-top: 6px;
}

#project-container {
  margin-top: 15px;
}

.project-title{
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.project-name {
  cursor: pointer;
}

.project-title-div {
  margin-top: 0px;
  margin-bottom: 0px;
}

#new-project-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 55px auto;
  padding: 25px;
}

#header-container {
  grid-row: 1 / 2;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #181c32;
  border-radius: 10px;
}

#new-task-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

#content-container {
  grid-row: 2 /3;
  text-align: center;
  margin-top: 25px;
  background-color: #181c32;
  border-radius: 10px;
}

.task {
  border: 2px solid white ;
  border-radius: 10px;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}

.task-title-div {
  display: flex;
  flex-direction: row;

}

.task-details-form {
  display: flex;
  flex-direction: column;
  border-top: 2px solid white;
  padding-top: 15px;
 }

input {
  border-radius: 10px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;
  height: 35px;
  border-style: none;
}

#delBtn, #saveBtn {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 35px;
  border-radius: 10px;
  border-color: none;
  border-style: none;
}

#delBtn {
 margin-top: 15px;
  background-color: rgb(234, 38, 89);
  color: white;
}

#saveBtn {
  background-color: rgb(69, 198, 118);
  color: white;
}

.task-name {
  flex: 1 1 auto;
  text-align: right;
  cursor: pointer;
}

.add-button {
  border:0;
  background: none;
}

.add-icon {
  fill: white;
  height: 30px;
  width: 30px;
}

/* .checkbox {
  width: 15px;
  height: 15px;
} */

.completed-task {
  text-decoration-line: line-through;
}